.none {
	display: none;
}

.inline {
	display: inline;
	color: red;
}

.block {
	display: block;
	color: red;
}

.inline-block {
	display: inline-block;
	color: red;
}

.flex-container{
	display: flex;
	position: relative;
}